<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_new"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_new"
        android:supportsRtl="true"
        android:theme="@style/Theme.Akiriapp">
        <activity
            android:name=".onboarding.OnboardingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".auth.LoginActivity" />
        <activity android:name=".auth.SignUpActivity" />
        <activity android:name=".auth.RoleSelectionActivity" />
        <activity android:name=".forum.ForumActivity" />
        <activity android:name=".course.CourseDetailsActivity" />
        <activity android:name=".CoursesActivity" />
        <activity android:name=".learning.MyLearningActivity" />
        <activity
            android:name=".settings.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Akiriapp" />
        <activity
            android:name=".trainer.TrainerDashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".trainer.CreateCourseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".learning.CoursePlayerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Akiriapp" />
        <activity
            android:name=".trainer.ManageCourseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".trainer.AddLessonActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>
